header {
  position: fixed;
  width: 100vw;
  padding: 0 80px;
  height: 8vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8vh;
}

header h1 {
  color: red;
}

.search-header {
  display: flex;
}

.search-header button {
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1rem;
  border: none;
  color: white;
  background-color: red;
  padding: 5px 10px;
  margin-left: 10px;
}

.search-header button:active {
  font-size: 1rem;
}