.poke-container {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border: 2px solid red;
  border-radius: 30px;
  margin: 10px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

.Electric {
  color: #F7BD20;
}

.Fire {
  color: #FB9442;
}

.Bug {
  color: #31AD42;
}

.Poison {
  color: #883473;
}

.Psychic {
  color: #FDB5D6;
}

.Normal {
  color: #aaaa;
}

.Dragon {
  color: #394FE2;
}

.poke-container > div:nth-child(2) img {
  height: 150px;
} 