@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  text-align: center;
}

form{
  width: 80%;
  padding: 3vw;
}

textarea {
  resize: none;
}

#data {
  width: 135px;
  text-align: center;
}